<div class="container no-side-margin container-color">
  <h3>Find a scooter near you</h3>
  <div class="row margin-top-small">
    <div class="col-md-6 col-sm-12">
      <!-- left side cards section -->
      <div class="row">
        <% @scooters.each do |scooter| %>
          <div class="col-sm-6 col-xs-12">
            <div class="card" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= scooter.picture %>)' >
              <div class="card-description">
                <h2><%= scooter.name %></h2>
                <p><%= scooter.description.truncate(40) %></p>
                <%= link_to "Choose", scooter_path(scooter), class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

    </div>
    <div class="col-md-6 col-sm-12">
      <!-- right side geocoder -->
      <div id="map" class="sticky" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>
