<h1>Scooters#new</h1>
<p>Find me in app/views/scooters/new.html.erb</p>

<%= simple_form_for @scooter do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <!-- update owner address for geocoding -->
  <%= f.input :address %>

  <%= f.button :submit %>
<% end %>
