<%= content_for(:title) do %>
  BeameUp - <%= @scooter.name %>
<% end %>

<p>
  <strong><%= @scooter.name %></strong>
</p>

<p>
  <strong><%= @scooter.description %></strong>
</p>
<%= link_to "Rent it!", new_scooter_rent_path(@scooter) %>
