<%= content_for(:title) do %>
  BeameUp - <%= @scooter.name %>
<% end %>

<div class="container no-side-margin">
  <div class="row margin-top-small">
    <div class="col-md-6 col-sm-12">
      <!-- left side cards section -->
      <h2><strong><%= @scooter.name %></strong></h2>

      <%= cl_image_tag @scooter.picture, height: 300, width: 500, crop: :fill %>

      <p><%= @scooter.description %></p>
      <%= @scooter.address %>

      <%= link_to "Rent it!", new_scooter_rent_path(@scooter) %>

    </div>
    <div class="col-md-6 col-sm-12">
      <!-- right side geocoder -->
      <div id="map" class="sticky" data-markers="<%= @markers.to_json %>"></div>
    </div>
  </div>
</div>


<p><%= link_to "Back", scooters_path %></p>
